<!--<div>-->
  <!--<nav-bar></nav-bar>-->
<!--</div>-->

<!--<div class="row ">-->
  <!--<div class="col-md-2">-->
    <!--<side-bar></side-bar>-->
  <!--</div>-->
  <!--<div class="col-md-10">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
<!--</div>-->

<!--<div>-->
  <!--<footer-bar></footer-bar>-->
<!--</div>-->


<div id="page-wrapper" [ngClass]="{'open': toggle}">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a routerLink="/person-list" (click)="toggleSidebar()">
          <img src="../../assets/utp.svg" width="25" height="25"  alt="" class=""/>APPLY
          <span class="menu-icon glyphicon glyphicon-menu-hamburger"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>NAVIGATION</span></li>

      <li class="sidebar-list">
        <a href="#">Home<span class="menu-icon glyphicon glyphicon-home"></span></a>
      </li>

      <!--Person-->
      <li class="sidebar-list">
        <a href="javascript:;" data-toggle="collapse" data-target="#person">Person
          <i class="fa fa-fw fa-caret-down"></i>
          <span class="menu-icon glyphicon glyphicon-user"></span>
        </a>
        <ul id="person" class="collapse nav list-group">
          <li>
            <a routerLink="/person-list">Person List<span class="menu-icon glyphicon glyphicon-list"></span></a>
          </li>
          <li>
            <a routerLink="/person-details">Single Person<span class="menu-icon glyphicon glyphicon-pencil"></span></a>
          </li>
        </ul>
      </li>
      <!--End Person-->

      <!--College-->
      <li class="sidebar-list">
        <a href="javascript:;" data-toggle="collapse" data-target="#college">College
          <i class="fa fa-fw fa-caret-down"></i>
          <span class="menu-icon glyphicon glyphicon-book"></span>
        </a>
        <ul id="college" class="collapse nav list-group">
          <li>
            <a routerLink="/person-list">College List<span class="menu-icon glyphicon glyphicon-list"></span></a>
          </li>
          <li>
            <a routerLink="/person-details">Single College<span class="menu-icon glyphicon glyphicon-pencil"></span></a>
          </li>
        </ul>
      </li>
      <!--End Person-->


      <li class="sidebar-list">
        <a routerLink="/person-details">Person Details Test <span class="menu-icon glyphicon glyphicon-pencil"></span></a>
      </li>
    </ul>


    <div class="sidebar-footer" style="height: 100px">
      <div class="col-xs-4">
        <a href="https://github.com/szydzik/utpAPPLY" target="_blank">
          Github
        </a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/szydzik/utpAPPLY/blob/master/README.md" target="_blank">
          About
        </a>
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0)">
          Support
        </a>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/avatar.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Joe Bloggs
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="javascript:void(0)">
                    Profile
                  </a>
                </li>
                <li class="link">
                  <a href="javascript:void(0)">
                    Menu Item
                  </a>
                </li>
                <li class="link">
                  <a href="javascript:void(0)">
                    Menu Item
                  </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="javascript:void(0)">
                    Logout
                  </a>
                </li>
              </ul>
            </div>
            <div class="item dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notifications
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0)">Server Down!</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Dashboard
            </div>
            <div class="breadcrumb-links">
              Home / Dashboard
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!--&lt;!&ndash; Main Content &ndash;&gt;-->
      <router-outlet></router-outlet>

    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->

  <!--<div class="container text-center">-->
    <!--<div>-->
      <!--<i class="fa fa-flag" aria-hidden="true"></i> Copyright 2006 by utpAPPLY-->
      <!--<span class="hide-xs">&middot;</span><br class="hide-sm hide-md hide-lg">-->
      <!--Created by<p>Szydzik & Teska</p>-->
    <!--</div>-->
  <!--</div>-->
  <div>
  <footer id="footer" class="footer hidden-print navbar-fixed-bottom">
    <div class="container text-center">

      <div>
        <i class="glyphicon glyphicon-flag" aria-hidden="true"></i> Copyright 2006 by utpAPPLY
        <span class="hide-xs"></span>
        <br class="hide-sm hide-md hide-lg">
        Created by &middot; Szydzik & Teska
      </div>

      <div class="project">
        <a href="https://github.com/szydzik/utpAPPLY">GitHub Project</a> &middot;
        <a href="https://github.com/szydzik/utpAPPLY/blob/master/README.md">About</a>
      </div>
    </div>
  </footer>
  </div>
</div><!-- End Page Wrapper -->

