<div class="">
  <h1>Hello, world!</h1>
  <p>
    Last Christmas<br>
    I gave you my heart<br>
    But the very next day<br>
    you gave it away<br>
    This year<br>
    To save me from tears<br>
    I'll give it to someone special<br>
    <br>
    Last Christmas<br>
    I gave you my heart<br>
    But the very next day<br>
    you gave it away (you gave it away)<br>
    This year<br>
    To save me from tears<br>
    I'll give it to someone special (special)<br>
    <br>
    Once bitten and twice shy<br>
    I keep my distance<br>
    But you still catch my eye<br>
    Tell me baby<br>
    Do you recognize me?<br>
    Well<br>
    It's been a year<br>
    It doesn't surprise me<br>
    <br>
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
