<div class="container">
  <!--to remove-->
  {{diagnostic}}
  <!--end to remove-->

  <h1>Person form</h1>
  <form *ngIf="person" class="col-lg-4 col-md-4" (ngSubmit)="onSubmit()" #personDetailForm="ngForm">
    <div class="form-group">
      <label for="name">Id</label>
      <input type="text" class="form-control" id="id" readonly
             [(ngModel)]="person.id" name="id"
             #id="ngModel">

    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="person.name" name="name"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" required
             [(ngModel)]="person.surname" name="surname"
             #surname="ngModel">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <select class="form-control" id="age"
                required
                [(ngModel)]="person.age" name="age"
                #age="ngModel" >
          <option *ngFor="let val of ages" [value]="val">{{val}}</option>
        </select>
        <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
          Power is required
        </div>
      </div>

    <div class="form-group">
      <label for="addressId">ID</label>
      <input type="text" class="form-control" id="addressId"
             [(ngModel)]="person.address.id" name="addressId"
             #surname="ngModel"
             readonly
      >

    </div>
    <div class="form-group">
      <label for="streetAddress1">StreetAddress1</label>
      <input type="text" class="form-control" id="streetAddress1"
             [(ngModel)]="person.address.streetAddress1" name="streetAddress1"
             #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="streetAddress2">StreetAddress1</label>
      <input type="text" class="form-control" id="streetAddress2"
             [(ngModel)]="person.address.streetAddress2" name="streetAddress2"
             #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input type="text" class="form-control" id="postalCode"
             [(ngModel)]="person.address.postalCode" name="postalCode"
             #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city"
             [(ngModel)]="person.address.city" name="city"
             #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="province">Province</label>
      <input type="text" class="form-control" id="province"
             [(ngModel)]="person.address.province" name="province"
             #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country"
             [(ngModel)]="person.address.country" name="country"
             #surname="ngModel">
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!personDetailForm.form.valid" (click)="add();">Submit</button>
    <button type="button" class="btn btn-default" (click)="newPerson(); personDetailForm.reset()">New Person</button>
  </form>
</div>
