<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">
    <!--<img src="../" width="30" height="30" class="d-inline-block align-top" alt="">-->
    Bootstrap
  </a>
<div>
  <ul class="navbar-nav list-group">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</div>
</nav>
